.content-section {
    padding: 0 var(--main-padding);
}

.content__title {

    text-align: center;
    font-family: "STIX Two Text";
    font-size: var(--subtitle-font-size);
    font-style: normal;
    font-weight: 600;
    line-height: 90%; /* 27px */

    padding: 7% 0 2.5% 0;
}

.content__paragraph {
    font-size: var(--main-font-size);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.content__text-block > .content__paragraph:not(:last-child) {
    margin-block-end: 1.5em;
}

.content__paragraph a {
    color: inherit;
}

.content__blockquote {
    width: 75%;
    margin: 0 auto 1.5em auto;

    font-size: var(--main-font-size);
    font-style: italic;
    font-weight: 400;
    line-height: 200%; /* 36px */
}

.content__text-block_type_first-lettered > .content__paragraph:is(:first-child)::first-letter {
    background-color: var(--accent-color);
    
    font-size: var(--subtitle-font-size);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;
    padding: 0 2px 0 3px;
    margin-right: 2px;    
}