.content-section {
    padding: 5vi;
}

.content__title {

    text-align: center;
    font-family: "STIX Two Text";
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 90%; /* 27px */

    padding: 7% 0 2.5% 0;
}

.content__text-block {
    
}

.content__paragraph {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.content__text-block > .content__paragraph:not(:last-child) {
    margin-block-end: 1.5em;
}

.content__paragraph a {
    color: inherit;
}

.content__blockquote {
    width: 75%;
    margin: 0 auto 1.5em auto;

    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    line-height: 200%; /* 36px */
}

.content__list {
    list-style: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.content__list-element:before {

    content: "";
    display: block;
    float: left;

    width: 15px;
    height: 15px;

    background-image: url(../images/marker-light.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
}

.content__list-element:not(:last-child) {
    margin-block-end: 10px;
}

.content__text-block_type_first-lettered > .content__paragraph:is(:first-child)::first-letter {
    display: inline-block;
    background-color: var(--accent-color);
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 4px;
    padding: 0 4px 0 4px;
    margin-right: 4px;
}