.footer {
    margin-top: 10%;
    padding: 2.5%;
    border-top: 1px solid var(--text-color);

    text-align: center;
  }

  .footer__copyright {
    font-size: var(--main-font-size);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;

    letter-spacing: 0.2px;
  }