/* main-style.css ----------------------------------- */
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --bg-color: #f3efec;
  --text-color: #312a4e;
  --accent-color: #ffab6b;
  --secondary-color: rgba(49, 42, 78, 0.5);
  --accent-background-color: transparent;
  --marker-image: url(../images/marker-light.svg);

  --main-font: "Raleway", Arial, sans-serif;
  --accent-font: "STIX Two Text", Arial, sans-serif;

  --main-font-size: 18px;
  --subtitle-font-size: 30px;
  --title-font-size: 60px;

  --main-padding: 5vi;
}

p,
h1,
h2,
h3,
blockquote,
ul,
ol,
li,
figure {
  margin: 0;
}

.page {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--main-font);

  min-inline-size: 360px;
  margin: 0;
}

.theme_dark {
  --bg-color: #171717;
  --text-color: #b3b3b3;
  --accent-color: transparent;
  --secondary-color: rgba(179, 179, 179, 0.5);
  --accent-background-color: #b3b3b3;
  --marker-image: url(../images/marker-dark.svg);
}

a:hover {
  text-decoration: underline 1px solid var(--secondary-color);
}

a:focus-visible {
  outline: 1px solid var(--text-color);
}

/* buttons.css ----------------------------------- */
.header__theme-toggler {
  display: flex;
  flex-direction: row;
  gap: 20px;

  position: relative;

  list-style: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}

.header__theme-button {
  background-color: transparent;
  color: var(--text-color);
  font-family: inherit;

  font-size: var(--main-font-size);
  font-style: normal;
  font-weight: 400;
  line-height: 104%; /* 18.72px */

  border: none;

  cursor: pointer;

  width: fit-content;
  padding: 0;
}

.header__theme-button:active {
  font-weight: 700;
}

.header__theme-button_is-active {
  font-weight: 700;
}

.header__theme-button_type_light:active::after,
.header__theme-button_is-active.header__theme-button_type_light::after {
  content: "";

  position: absolute;
  right: -3px;
  top: 17px;
  overflow: visible;

  background-color: var(--accent-color);

  height: 6px;
  width: 81px;
  z-index: -1;
}

.header__theme-button_type_dark:active::after,
.header__theme-button_is-active.header__theme-button_type_dark::after {
  content: "";

  position: absolute;
  left: -3px;
  top: 17px;
  overflow: visible;

  background: url(../images/pattern.svg) repeat;
  background-color: var(--accent-color);
  height: 6px;
  width: 72px;
  z-index: -1;
}

.header__theme-button:hover {
  text-decoration: underline 1px solid var(--secondary-color);
}

.header__theme-button:disabled {
  pointer-events: none;
}

.header__theme-button:focus-visible {
  outline: 1px solid var(--text-color);
}

/* card.css ----------------------------------- */
.content__card {
  border: 1px solid var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-block-start: 7.1%;
  width: 100%;
  aspect-ratio: 4/3;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0px;
}

.content__card-subtitle {
  text-align: center;
  font-size: var(--main-font-size);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.content__card-title {
  text-align: center;
  font-size: var(--title-font-size) !important;
  font-style: normal;
  font-weight: 600;
  line-height: 90%; /* 54px */

  position: relative;
  width: fit-content;
}

.colored-text {
  position: relative;
}

.colored-text::after {
  content: "";
  position: absolute;
  right: -0.2ch;
  bottom: 10px;

  background-color: var(--accent-color);
  height: 15px;
  width: 7.5ch;
  z-index: -1;
}

/* content-list.css ----------------------------------- */
.content__list {
  list-style: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 15px;

  font-size: var(--main-font-size);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.content__list-element:before {
  content: "";
  display: block;
  float: left;

  width: 15px;
  height: 15.765px;
  transform: rotate(90deg);
  flex-shrink: 0;

  background-image: var(--marker-image);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;

  margin-right: 10.51px;
  margin-top: 3px;
}

.content__list-element:not(:last-child) {
  margin-block-end: 10px;
}

/* content-section.css ----------------------------------- */
.content-section {
  padding: 0 var(--main-padding);
}

.content__title {
  text-align: center;
  font-family: var(--accent-font);
  font-size: var(--subtitle-font-size);
  font-style: normal;
  font-weight: 600;
  line-height: 90%; /* 27px */

  padding: 7% 0 2.5% 0;
}

.content__paragraph {
  font-size: var(--main-font-size);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.content__text-block > .content__paragraph:not(:last-child) {
  margin-block-end: 1.5em;
}

/* Пришлось всё-таки оставить так, потому что не получается перебить «a:-webkit-link»: если прописать параметры цвета классу link, то срабатывает webkit-правило */
.content__paragraph a { 
  color: inherit !important;
}

.content__blockquote {
  width: 75%;
  margin: 0 auto 1.5em auto;

  font-size: var(--main-font-size);
  font-style: italic;
  font-weight: 400;
  line-height: 200%; /* 36px */
}

.content__text-block_type_first-lettered
  > .content__paragraph:is(:first-child)::first-letter {
  background-color: var(--accent-color);
  border: var(--accent-background-color) 1px solid;

  font-size: var(--subtitle-font-size);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0;
  padding: 0 2px 0 2px;
  margin-right: 3px;
}

/* footer.css ----------------------------------- */
.footer {
  margin-top: 10%;
  padding: 2.5%;
  border-top: 1px solid var(--text-color);

  text-align: center;
}

.footer__copyright {
  font-size: var(--main-font-size);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;

  letter-spacing: 0.2px;
}

/* header.css ----------------------------------- */
.header {
  padding: 10% 0 0 0;
}

.header__title {
  font-size: clamp(3.75rem, 2.5rem + 5.5556vw, 7.5rem) !important;
  padding-bottom: 40px;
  padding-top: 0;
}

.header__logo {
  color: currentColor;
}

.header__logo:visited {
  color: currentColor;
}

.header__menu {
  border-top: 1px solid var(--text-color);
  border-bottom: 1px solid var(--text-color);
  padding: 20px var(--main-padding);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header__menu-item {
  margin-top: 4px;
  width: fit-content;
}

/* heading.css ----------------------------------- */
.heading {
  text-align: center;
  font-family: var(--accent-font);
  font-size: var(--subtitle-font-size);
  font-style: normal;
  font-weight: 600;
  line-height: 90%; /* 27px */
}

/* image.css ----------------------------------- */
.content__figure {
  width: calc(100% + 10vi);
  /* ширина контейнера + 2 боковых отступа, чтобы картинка занимала всю ширину экрана */

  position: relative;
  left: -5vi;
  margin: 7% 0;
}

.content__picture-caption {
  padding: 20px var(--main-padding);

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  font-size: var(--main-font-size);
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  border-bottom: 1px solid var(--text-color);
}

.content__picture {
  width: 100%;
  margin-top: 2px;
}
