*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --bg-color: #F3EFEC; 
  --text-color: #312A4E; 
  --accent-color: #FFAB6B; 
  
  --main-font: 'Raleway';
  --accent-font: 'STIX Two Text'; 
}

p,
h1,
h2,
h3,
blockquote,
ul,
ol,
li,
figure {
  margin: 0;
}

.page {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--main-font);

  min-inline-size: 360px;
  margin: 0;
}