*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --bg-color: #F3EFEC; 
  --text-color: #312A4E;
  --accent-color: #FFAB6B; 
  --secondary-color: rgba(49, 42, 78, 0.50);
  
  --main-font: 'Raleway';
  --accent-font: 'STIX Two Text'; 

  --main-font-size: 18px;
  --subtitle-font-size: 30px;
  --title-font-size: 60px;

  --main-padding: 5vi;
}

p,
h1,
h2,
h3,
blockquote,
ul,
ol,
li,
figure {
  margin: 0;
}

.page {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--main-font);

  min-inline-size: 360px;
  margin: 0;
}

.theme_dark {
  --bg-color: #171717;; 
  --text-color: #B3B3B3; 
  --accent-color: transparent; 
  --secondary-color: rgba(179, 179, 179, 0.50);
}

a:hover {
  background-color: 1px solid var(--secondary-color);
}

a:focus-visible {
  outline: 1px solid var(--text-color);
}